table {
    border: 2px solid black;
    border-collapse: collapse;
}
th {
    border: 2px solid black;
    text-align: center;
    padding: 2px;
}
td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}
td.warning { background-color: yellow }
td.error { background-color: orange }
td.fatal { background-color: red }
td.ok { background-color: green }
tr {
    height: 50px;
}
