@(robotForm: Form[RobotForm], abRack: String)
@import helper._
@import models.RobotForm

@main("Create Robot Instructions") {
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Create Robot Instructions", robotForm)
	@form(routes.RobotController.createABPlate(abRack), 'style -> "display:inline;") {
		@inputText(robotForm(RobotForm.abRackKey).copy(value=Some(abRack)), 'readonly -> "readonly",
			'_showConstraints -> false, '_label -> "Antibody source rack ID")
		@inputText(robotForm(RobotForm.sampleContainerKey), '_label -> "Sample container ID")
		@inputText(robotForm(RobotForm.abPlateKey), '_label -> "Antibody destination plate ID")
		@inputText(robotForm(RobotForm.fileNameKey).copy(value=Some(abRack + "_AB_Plate")),
			'_label -> "Output filename")
		<input type="submit" value="Download Robot Instructions" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
@()