@(barcodesFileForm: Form[BarcodesFile])
@import helper._

@main("Barcode File") {
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Barcodes File", barcodesFileForm)
	@form(routes.BarcodesController.upload(), 'style -> "display:inline;", 'enctype -> "multipart/form-data") {
		@inputText(barcodesFileForm(BarcodesFile.setKey),
			'_label -> "Specify a name for this barcode set:")
		@select(
			field = barcodesFileForm(BarcodesFile.setType),
			options = options("" +: BarcodeSet.setTypes), '_label -> "Select the type for this set:")

		@inputFile(barcodesFileForm(BarcodesFile.fileKey),
			'_label -> "Barcodes File (Header may only be all or a subset of the following: 'Well', 'Name', 'P5 Index', and 'P7 Index')")
		<input type="submit" value="Upload Barcodes File" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
