@(barcodesFileForm: Form[BarcodesFile])
@import helper._

@main("Barcode File") {
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Barcodes File", barcodesFileForm)
	@form(routes.BarcodesController.upload(), 'style -> "display:inline;", 'enctype -> "multipart/form-data") {
		@inputText(barcodesFileForm(BarcodesFile.setName),
			'_label -> "Specify a name for this barcode set:")
		@inputFile(barcodesFileForm(BarcodesFile.fileKey), '_label -> "Barcodes File")
		<input type="submit" value="Upload Barcodes File" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
