@***************************************************************
* Base contents of items                                       *
* @param componentForm form with item's fields                 *
* @param id optional preset id for component                   *
* @param componentType type of component (e.g., plate)         *
* @param hiddenFields optional hidden fields to set in form    *
* @param validContents optional list of valid contents         *
* @param divisions true if component can be divided into wells *
***************************************************************@
@(componentForm: Form[_ <: Component], id: Option[String], componentType: Component.ComponentType.ComponentType,
	hiddenFields: Option[Component.HiddenFields],
	validContents: Option[List[models.initialContents.InitialContents.ContentType.ContentType]],
	divisions: Boolean)
@import helper._
@import models.Component

@* defining variables to be used within scope  - in this case a list of input text options for id *@
@defining(if (id.isDefined) List('readonly -> "readonly", '_showConstraints -> false) else List()) { ro =>
    @inputText(componentForm(Component.formKey + "." + Component.idKey).copy(value = id), List('_label -> "ID") ++ ro: _*)
	@componentCommon(componentForm, componentType, hiddenFields, validContents, divisions)
}
