@***************************************************************
* Base contents of items                                       *
* @param componentForm form with item's fields                 *
* @param componentType type of component (e.g., plate)         *
* @param hiddenFields optional hidden fields to set in form    *
***************************************************************@
@(componentForm: Form[_ <: Component], componentType: Component.ComponentType.ComponentType,
	hiddenFields: Option[Component.HiddenFields] = None)
@import helper._
@import models.Component

@* Supply component type needed - it's a mandatory field we already know but don't need to display *@
<input type="hidden" id="@{Component.formKey + "_" + Component.typeKey}" name="@{Component.formKey + "." + Component.typeKey}" value="@componentType" />
@textarea(componentForm(Component.formKey + "." + Component.descriptionKey), '_label -> "Description")
@componentTags(componentForm, true)
@inputText(componentForm(Component.formKey + "." + Component.projectKey), '_label -> "Project ID", 'style -> "display:inline;")
@jiraLink(componentForm)
@if(hiddenFields.isDefined) {
	@if(hiddenFields.get.project.isDefined) {
		<input type="hidden" id="@{Component.formKey + "." + Component.hiddenProjectKey}" name="@{Component.formKey + "." + Component.hiddenProjectKey}" value="@hiddenFields.get.project.get" />
	}
}
