@(title: String, cForm: Form[_ <: Component], formRoute: Call, id: String,
	componentType: Component.ComponentType.ComponentType,
	validContents: Option[List[models.initialContents.InitialContents.ContentType.ContentType]],
	divisions: Boolean)(extraFields: Html)
@import helper._
@import models.Component

@mainComponent(title) {
	@componentIntro(title, cForm)
	@* Form with plate values - parameter to form method is "reverse-route" of action used to handle form submission *@
	@form(formRoute, 'style -> "display:inline;") {
		@component(cForm, Some(id), componentType, None, validContents, divisions)
		@extraFields
		@createButtons()
	}
	@homeOption(Seq.empty)
}
