@(title: String, cForm: Form[_ <: Component], formRoute: Call,
	componentType: Component.ComponentType.ComponentType,
	validContents: Option[List[models.initialContents.InitialContents.ContentType.ContentType]],
	divisions: Boolean)(extraFields: Html)
@import helper._
@import models.Component

@mainComponent(title) {
	@componentIntro(title, cForm)
	@* Form with plate values - parameter to form method is "reverse-route" of action used to handle form submission *@
	@form(formRoute, 'style -> "display:inline;") {
		@textarea(cForm(Component.formKey + "." + Component.idKey),
			'_label -> "IDs", 'readonly -> "readonly", '_showConstraints -> "false")
		@componentCommon(cForm, componentType, None)
		@* @inputText(plateForm(Location.locationKey), '_label -> "Location") *@
		@if(validContents.isDefined) {
			@initialContents(validContents.get, cForm)
		}
		@if(divisions) {
			@select(field = cForm(ContainerDivisions.divisionKey),
				options = options(ContainerDivisions.divisionTypes), '_label -> "Layout")
		}
		@extraFields
		@createButtons()
	}
	@homeOption(Seq.empty)
}
