@(title: String, cForm: Form[_ <: Component], formRoute: Call,
	componentType: Component.ComponentType.ComponentType,
	validContents: Option[List[models.initialContents.InitialContents.ContentType.ContentType]],
	divisions: Boolean)(extraFields: Html)
@import helper._
@import models.Component

@mainComponent(title) {
	@componentIntro(title, cForm)
	@* Form with values - parameter to form method is "reverse-route" of action used to handle form submission *@
	@form(formRoute, 'style -> "display:inline;") {
		@textarea(cForm(Component.formKey + "." + Component.idKey),
			'_label -> "IDs", 'readonly -> "readonly", '_showConstraints -> "false")
		@componentCommon(cForm, componentType, None, validContents, divisions, false)
		@extraFields
		@createButtons()
	}
	@homeOption(Seq.empty)
}
