@**********************************************************
* Screen to display the results of a find.                *
* @param list of found components                         *
**********************************************************@
@(title: String)(found: List[models.Find.Found])
@import helper._

@main(title) {
	<style>
	table {
	border: 1px solid black;
	border-collapse: collapse;
	}
	th {
	border: 2px solid black;
	text-align: center;
	padding: 4px;
	background-color: #D3D3D3;
	}
	td {
	border: 1px solid black;
	padding: 4px;
	text-align: center;
	}
	tr {
	height: 12px;
	}
	</style>
}{
	<h2>@found.size.toString components found</h2>
	<table>
		<tr>
			<th>ID</th><th>Type</th><th>Description</th><th>Project</th>
		</tr>
		@for(f <- found) {
			<tr>
				<td><a href="@routes.Application.findByID(f.id).url">@f.id</a></td>
				<td>@f.component.toString()</td>
				<td>@f.description.getOrElse("")</td>
				<td>@f.project.getOrElse("")</td>
			</tr>
		}
	</table>
	<br>
	@homeOption(Seq[(Call, String, Option[String])]((routes.FindController.find, "Return to find", None)))
}
