@**********************************************************
* Screen to display the results of a find.                *
* @param list of found components                         *
**********************************************************@
@(title: String)(found: scala.collection.Set[models.Find.Found])
@import helper._

@main(title) {
	<style>
	table {
	border: 1px solid black;
	border-collapse: collapse;
	}
	th {
	border: 2px solid black;
	padding: 4px;
	background-color: #D3D3D3;
	}
	td {
	border: 1px solid black;
	padding: 4px;
	}
	tr {
	height: 12px;
	}
	</style>
	@* Originally from http://github.hubspot.com/sortable/ *@
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sortable-theme-light.css")">
	<script type='text/javascript' src="@routes.Assets.at("javascripts/sortable.min.js")"></script>
}{
	<h2>@found.size.toString components found</h2>
	<table class="sortable-theme-light" data-sortable>
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Description</th>
				<th>Project</th>
				<th>Initial Content</th>
				<th>Layout</th>
			</tr>
		</thead>
		<tbody>
		@for(f <- found) {
			<tr>
				<td><a href="@routes.Application.findByID(f.id).url">@f.id</a></td>
				<td>@f.component.getOrElse("")</td>
				<td>@f.description.getOrElse("")</td>
				<td>@f.project.getOrElse("")</td>
				<td>@f.content.getOrElse("")</td>
				<td>@f.layout.getOrElse("")</td>
			</tr>
		}
		</tbody>
	</table>
	<br>
	@homeOption(Seq[(Call, String, Option[String])]((routes.FindController.find, "Return to search", None)))
}
