@***************************************************************************
* Screen to update an existing component                                   *
* @param freezerForm form used to gather values - must already have id set *
***************************************************************************@
@(freezerInput: Form[Freezer], id: String, hiddenFields: Option[Component.HiddenFields])
@import helper._
@import models.Freezer

@* Call main template to create html with form to update a freezer *@
@updateForm("Freezer", freezerInput, routes.FreezerController.updateFreezerFromForm(id), id,
	Component.ComponentType.Freezer, hiddenFields, None, false, Seq.empty, List.empty){
	@inputText(freezerInput(Freezer.addressKey), '_label -> "Address")
	@inputText(freezerInput(Freezer.temperatureKey), '_label -> "Temperature (Celsius)")
}
