@***********************************
* Home page                        *
***********************************@
@(errForm: Form[Component.Error])
@import helper._

@* Call main template with title and html to display *@
@main("Welcome to Tracker"){
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	<h1>Welcome to Tracker</h1>
	@errForm.globalErrors.map {error => <span class="error">@error.message</span><br><br>}
	<img src="@routes.Assets.at("images/lab.jpg")" width="600" height="396" />
	<br>
	@form(controllers.routes.Application.find(), 'style -> "display:inline;") {
		<input type="submit" value="Find/Update Component" style="display:inline;">
	}
	@form(controllers.routes.Application.add(), 'style -> "display:inline;") {
		<input type="submit" value="Add Component" style="display:inline;">
	}
	@form(controllers.routes.TransferController.transfer(), 'style -> "display:inline;") {
		<input type="submit" value="Transfer Component" style="display:inline;">
	}
}
