@***********************************
* Home page                        *
***********************************@
@(errForm: Form[Component.Error])
@import helper._

@* Call main template with title and html to display *@
@main("Welcome to Tracker"){
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	<h1>Welcome to Tracker</h1>
	@errForm.globalErrors.map {error => <span class="error">@error.message</span><br><br>}
	<img src="@routes.Assets.at("images/lab.jpg")" width="600" height="396" />
	<br>
	@form(controllers.routes.FindController.find(), 'style -> "display:inline;") {

		<input type="submit" value="Search" style="display:inline;">
	}
	<br><br>
	<div id="footer">
		<label for="qRegister" style="font-size:13px;">&nbspRegister ID:</label>
		<input type="text" id="qRegister" name="qRegister" size=20 placeholder="Component ID" style="display:inline;"/>
		<br>
		<label for="qFind" style="font-size:13px;">&nbspFind ID:</label>
		<input type="text" id="qFind" name="qFind" size=20 placeholder="Component ID" style="display:inline;"/>
		<br><br>
		<label for="fromTran" style="font-size:13px;">&nbspTransfer:</label>
		<input type="text" id="fromTran" name="fromTran" size=20 placeholder="from" style="display:inline;"/>
		<input type="text" id="toTran" name="toTran" size=20 placeholder="to" style="display:inline;"/>
		<input type="text" id="projTran" name="projTran" size=20 placeholder="optional project" style="display:inline;"/>
	</div>
	<script>
	$('#qRegister').keypress(function (e) {
	var key = e.which;
	if(key == 13 && $("#qRegister").val().trim() != "") {
	window.location.assign("/add/" + $("#qRegister").val());
	return false;
	}});
	$('#qFind').keypress(function (e) {
	var key = e.which;
	if(key == 13 && $("#qFind").val().trim() != "") {
	window.location.assign("/find/" + $("#qFind").val());
	return false;
	}});
	function doTran(e, from, to, proj) {
	var params;
	var key = e.which;
	if(key == 13 && (from != "" || to != "" || proj != ""))  {
	if(from != "") { params = "?fromID=" + from; }
	if(to != "") { if(params) { params = params + "&toID=" + to; } else { params = "?toID=" + to; } }
	if(proj != "") { if(params) { params = params + "&project=" + proj; } else { params = "?project=" + proj; } } }
	return params;
	};
	$('#fromTran').keypress(function (e) {
	var p = doTran(e,$("#fromTran").val().trim(),$("#toTran").val().trim(),$("#projTran").val().trim());
	if (p) { window.location.assign("/transfer" + p); return false; }
	});
	$('#toTran').keypress(function (e) {
	var p = doTran(e,$("#fromTran").val().trim(),$("#toTran").val().trim(),$("#projTran").val().trim());
	if (p) { window.location.assign("/transfer" + p); return false; }
	});
	$('#projTran').keypress(function (e) {
	var p = doTran(e,$("#fromTran").val().trim(),$("#toTran").val().trim(),$("#projTran").val().trim());
	if (p) { window.location.assign("/transfer" + p); return false; }
	});
	</script>
}
