@***********************************
* Home page                        *
***********************************@
@(errForm: Form[Component.Error])
@import helper._
@import play.api.Play

@* Call main template with title and html to display *@
@main("Welcome to Tracker"){
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	<h1>Welcome to Tracker @Play.current.configuration.getString("tracker.version").getOrElse("")</h1>
	@errForm.globalErrors.map {error => <span class="error">@error.message</span><br><br>}
	<img src="@routes.Assets.at("images/lab.jpg")" width="600" height="396" />
	<br>
	@form(controllers.routes.FindController.find(), 'style -> "display:inline;") {
		<input type="submit" value="Search" style="display:inline;">
	}
	@form(controllers.routes.Application.addStack(), 'style -> "display:inline;") {
		<input type="submit" value="Register Stack" style="display:inline;">
	}
	@form(controllers.routes.TransferFileController.findTransferFile(), 'style -> "display:inline;") {
		<input type="submit" value="Transfer File" style="display:inline;">
	}

	<br><br>

	<div id="footer">
		<label for="qRegister" style="font-size:13px;">&nbspRegister ID:</label>
		<input type="text" id="qRegister" name="qRegister" size=20 placeholder="Component ID" style="display:inline;"/>
		<br>
		<label for="qFind" style="font-size:13px;">&nbspFind ID:</label>
		<input type="text" id="qFind" name="qFind" size=20 placeholder="Component ID" style="display:inline;"/>
		<br><br>
		<label for="fromTran" style="font-size:13px;">&nbspTransfer:</label>
		<input type="text" id="fromTran" name="fromTran" size=20 placeholder="from" style="display:inline;"/>
		<input type="text" id="toTran" name="toTran" size=20 placeholder="to" style="display:inline;"/>
		<input type="text" id="projTran" name="projTran" size=20 placeholder="optional project" style="display:inline;"/>
		<br><br>
		<label for="barcodesSub" style="font-size:13px;">Upload Barcodes:</label>
		<br>
		@form(controllers.routes.BarcodeController.upload(), 'style -> "display:inline;") {
			<button type = "submit">Upload</button>
			<input type="file" id= "barcodesSub" style="display:inline;">
			}
	</div>
	<script type='text/javascript' src="@routes.Assets.at("javascripts/quickOperations.js")"></script>
}
