@***************************************************************
* Get initial contents associated with a component             *
* @param validContents list of valid content types             *
* @param componentForm form with item's fields                 *
***************************************************************@
@(validContents: List[models.initialContents.InitialContents.ContentType.ContentType],
	componentForm: Form[_ <: Component])
@import helper._
@import models.initialContents.InitialContents
@if(validContents.nonEmpty) {
	@select(field = componentForm(Container.contentKey),
		options = options("" +: InitialContents.getContentDisplayValues(validContents)), '_label -> "Initial Content")
}
