@****************************************************************
* Screen to create a new material                               *
* @param materialForm form to use to gather values for material *
****************************************************************@
@(materialForm: Form[Material])
@import helper._
@import models.Material

@* Call main template to create html with form to create material *@
@mainComponent("Create Material"){
    @componentIntro("Create Material", materialForm)
    @* Form with material values - parameter to form method is "reverse-route" of action used to handle form submission *@
    @form(routes.MaterialController.createMaterialFromForm(), 'style -> "display:inline;") {
        @component(materialForm, false, Component.ComponentType.Material)
        @select(field = materialForm(Material.materialTypeKey),
            options = options(Material.MaterialType.materialValues), '_label -> "Material type")
        @createButtons()
    }
	@homeOption(Seq.empty)
}
