@*****************************************************************************************
* Screen to update an existing component                                                 *
* @param materialForm form used to gather values for material - must already have id set *
*****************************************************************************************@
@(materialInput: Form[Material], id: String, hiddenFields: Option[Component.HiddenFields])
@import helper._
@import models.Material

@* Call main template to create html with form to update a material *@
@mainComponent("Material"){
    @componentIntro("Material", materialInput)
    @* Form with values - parameter to form method is "reverse-route" of action used to handle form submission *@
    @form(routes.MaterialController.updateMaterialFromForm(id), 'style -> "display:inline;") {
        @component(materialInput, true, Component.ComponentType.Material, hiddenFields)
        @* Supply material type needed *@
        @select(field = materialInput(Material.materialTypeKey),
            options = options(Material.MaterialType.materialValues),
            args = '_label -> "Material type")
	    @updateButtons()
    }
	@homeUpdateOption(materialInput, Seq.empty)
}
