@********************************************************
* Screen to update an existing component                *
* @param tubeForm form used to gather values for plate  *
* @param id component id                                *
********************************************************@
@(plateInput: Form[Plate], id: String, hiddenFields: Option[Component.HiddenFields])
@import models.Plate

@* Call main template to create html with form to update a plate *@
@updateForm("Plate", plateInput, routes.PlateController.updatePlateFromForm(id), id,
	Component.ComponentType.Plate, hiddenFields, Some(Plate.validContents), true, Seq.empty, List.empty){
	@play.twirl.api.HtmlFormat.empty
}
