@**********************************************************
* Screen to create a new plate                            *
* @param plateForm form to use to gather values for plate *
* @param id component id                                  *
**********************************************************@
@(plateForm: Form[Plate], id: String)
@import models.Plate

@* Call main template to create html with form to create a plate *@
@createForm("Register Plate", plateForm, routes.PlateController.createPlateFromForm(id), id,
	Component.ComponentType.Plate, Some(Plate.validContents), true){
	@play.twirl.api.HtmlFormat.empty
}
