@**********************************************************************************
* Screen to update an existing rack                                               *
* @param rackInput form used to gather values for rack                            *
* @param id rack id                                                               *
* @param hiddenFields hidden fields passed to form, e.g., project last set        *
**********************************************************************************@
@(rackInput: Form[Rack], id: String, hiddenFields: Option[Component.HiddenFields])
@import helper._
@import models.Rack
@import models.Component

@updateForm("Rack", rackInput, routes.RackController.updateRackFromForm(id), id,
	Component.ComponentType.Rack, hiddenFields, Some(Rack.validContents), true,
	Seq((routes.RackController.doBSPReport(
		rackInput(Component.formKey + "." + Component.idKey).value.getOrElse("0")), "BSP Report")),
	List('enctype -> "multipart/form-data")){
	@inputFile(rackInput(Rack.rackScanKey), '_label -> "Scan File")
}
