@**********************************************************
* Screen to create a new rack                             *
* @param rackForm form to use to gather values for rack   *
* @param id component id                                  *
**********************************************************@
@(rackForm: Form[Rack], id: String)
@import models.Rack

@* Call main template to create html with form to create a rack *@
@createForm("Register Rack", rackForm, routes.RackController.createRackFromForm(id), id,
	Component.ComponentType.Rack, Some(Rack.validContents), true){
	@play.twirl.api.HtmlFormat.empty
}
