@**********************************************************************************
* Screen to update an existing component                                          *
* @param tubeForm form used to gather values for rack - must already have id set  *
**********************************************************************************@
@(rackInput: Form[Rack], id: String, hiddenFields: Option[Component.HiddenFields])
@import helper._
@import models.Rack
@import models.Component

@* Call main template to create html with form to update a rack *@
@mainComponent("Rack"){
    @componentIntro("Rack", rackInput)
	@* Form with rack values - parameter to form method is "reverse-route" of action used to handle form submission *@
    @form(routes.RackController.updateRackFromForm(id), 'enctype -> "multipart/form-data", 'style -> "display:inline;") {
        @component(rackInput, true, Component.ComponentType.Rack, hiddenFields)
@*        @inputText(rackInput(Location.locationKey), '_label -> "Location") *@
@*        @inputText(rackInput(Container.contentKey), '_label -> "Content") *@
        @select(field = rackInput(Rack.layoutKey),
            options = options(ContainerDivisions.divisionTypes), '_label -> "Layout")
	    @inputFile(rackInput(Rack.rackScanKey), '_label -> "Scan File")
        @updateButtons()
    }
	@homeOption(Seq[(Call, String)]((routes.RackController.doBSPReport(
		rackInput(Component.formKey + "." + Component.idKey).value.getOrElse("0")), "BSP Report")))
}
