@**********************************************************
* Screen to create a component                            *
* @param sampleForm form used to gather values for sample *
**********************************************************@
@(sampleInput: Form[Sample])
@import helper._

@* Call main template to create html with form to update a sample *@
@mainComponent("Create Sample"){
    @componentIntro("Create Sample", sampleInput)
    @* Form with values - parameter to form method is "reverse-route" of action used to handle form submission *@
    @form(routes.SampleController.createSampleFromForm(), 'style -> "display:inline;") {
        @component(sampleInput, false, Component.ComponentType.Sample)
        @inputText(sampleInput(Location.locationKey), '_label -> "Location")
	    @inputText(sampleInput(Sample.externalIDKey), '_label -> "External ID")
	    @createButtons()
    }
	@homeOption(Seq.empty)
}
