@(transferForm: Form[Transfer], fromID: String, toID: String, project: Option[String], fromQuad: Boolean = false, toQuad: Boolean = false)
@import helper._
@import models.Transfer

@main("Transfer Component") {
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Transfer Component", transferForm)
	@form(routes.TransferController.transferFromForm(fromID), 'style -> "display:inline;") {
		@inputText(transferForm(Transfer.fromKey).copy(value=Some(fromID)), 'readonly -> "readonly", '_showConstraints -> false, '_label -> "From ID")
		@inputText(transferForm(Transfer.toKey).copy(value=Some(toID)), 'readonly -> "readonly", '_showConstraints -> false, '_label -> "To ID")
        @inputText(transferForm(Transfer.projectKey).copy(value=project), 'readonly -> "readonly", '_label -> "Project")
		@if(fromQuad) {
			@select(field = transferForm(Transfer.fromQuadKey),
				options = options(Transfer.quadVals), '_label -> (fromID + " quadrant to transfer from"))
		}
		@if(toQuad) {
			@select(field = transferForm(Transfer.toQuadKey),
				options = options(Transfer.quadVals), '_label -> (toID + " quadrant to transfer to"))
		}
		<input type="submit" value="Transfer" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
