@(from: Option[Component], to: Option[Component], tableID: String, grid: Map[String, Option[String]],
	rows: Int, cols: Int, sourceDisplay: Boolean)
@fromID = @{from.map(_.id).getOrElse("unknown")}
@toID = @{to.map(_.id).getOrElse("unknown")}
@displayID = @{"Display of " + (if (sourceDisplay) fromID else toID)}

@main("Source to destination wells") {
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tableSelect.css")">
}{
	<h2>@displayID for transfers from @fromID to @toID</h2>
	@plateDisplay(tableID, grid, "", rows, cols)
	<br>
	@homeOption(Seq(
		(routes.Application.findByID(fromID), "Go to " + fromID, None),
		(routes.Application.findByID(toID),	"Go to " + toID, None)))
}
