@(transferForm: Form[TransferStart], fromID: Option[String], toID: Option[String], readOnly: Boolean)
@import helper._
@import models.Transfer

@main("Transfer Component") {
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Transfer Component", transferForm)
	@form(routes.TransferController.transferIDs(), 'style -> "display:inline;") {
		@if(fromID.isDefined && readOnly) {
			@inputText(transferForm(Transfer.fromKey).copy(value = fromID), 'readonly -> "readonly", '_showConstraints -> false, '_label -> "From ID")
		} else {
			@if(fromID.isDefined) {
				@inputText(transferForm(Transfer.fromKey).copy(value = fromID), '_label -> "From ID")
			} else {
				@inputText(transferForm(Transfer.fromKey), '_label -> "From ID")
			}
		}
		@if(toID.isDefined && readOnly) {
			@inputText(transferForm(Transfer.toKey).copy(value=toID), 'readonly -> "readonly", '_showConstraints -> false, '_label -> "To ID")
		} else {
			@if(toID.isDefined) {
				@inputText(transferForm(Transfer.toKey).copy(value=toID), '_label -> "To ID")
			} else {
				@inputText(transferForm(Transfer.toKey), '_label -> "To ID")
			}
		}
        @inputText(transferForm(Transfer.projectKey), '_label -> "Project")
		@checkbox(transferForm(Transfer.isSlicingKey),
			'_label -> "Slice (e.g., 24 or 48-well) transfer?", 'style -> "display:inline;", '_help -> "")
		<input type="submit" value="Transfer" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
