@(transferForm: Form[Transfer])
@import helper._
@import models.Transfer

@main("Transfer Component") {
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Transfer Component", transferForm)
	@form(routes.TransferController.transferIDs, 'style -> "display:inline;") {
		@inputText(transferForm(Transfer.fromKey), '_label -> "From ID")
		@inputText(transferForm(Transfer.toKey), '_label -> "To ID")
		<input type="submit" value="Transfer" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
