@(transferForm: Form[TransferForm], fromID: String, toID: String, project: Option[String],
	fromQuad: Boolean = false, toQuad: Boolean = false,
	dataMandatory: Boolean = false, isQuadToQuad: Boolean = false, isQuadToTube: Boolean = false)
@import helper._
@import models.Transfer

@main("Transfer Component") {
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/icon.png")">
}{
	@componentIntro("Transfer Component", transferForm)
	@form(routes.TransferController.transferFromForm(), 'id -> "transferForm", 'style -> "display:inline;") {
		@inputText(transferForm(Transfer.transferKey + "." + Transfer.fromKey).copy(value=Some(fromID)),
			'readonly -> "readonly", '_showConstraints -> false, '_label -> "From ID")
		@inputText(transferForm(Transfer.transferKey + "." + Transfer.toKey).copy(value=Some(toID)),
			'readonly -> "readonly", '_showConstraints -> false, '_label -> "To ID")
        @inputText(transferForm(Transfer.transferKey + "." + Transfer.projectKey).copy(value=project),
			'readonly -> "readonly", '_showConstraints -> false, '_label -> "Project")
		@if(fromQuad) {
			@if(dataMandatory) {
				@select(field = transferForm(Transfer.transferKey + "." + Transfer.fromQuadKey),
					options = options(Transfer.quadVals), '_label -> (fromID + " quadrant to transfer from"))
			} else {
				@select(field = transferForm(Transfer.transferKey + "." + Transfer.fromQuadKey),
					options = options("" +: Transfer.quadVals), '_label -> (fromID + " quadrant to transfer from"))
			}
		}
		@if(toQuad) {
			@if(dataMandatory) {
				@select(field = transferForm(Transfer.transferKey + "." + Transfer.toQuadKey),
					options = options(Transfer.quadVals), '_label -> (toID + " quadrant to transfer to"))
			} else {
				@select(field = transferForm(Transfer.transferKey + "." + Transfer.toQuadKey),
					options = options("" +: Transfer.quadVals), '_label -> (toID + " quadrant to transfer to"))
			}
		}
		@select(field = transferForm(Transfer.transferKey + "." + Transfer.sliceKey),
			options = options("" +: Transfer.sliceVals), '_label -> "Slice")
		@* Remember all the hidden goodies that say what we're up to *@
		<input type="hidden" id="@{Transfer.mandatoryKey}" name="@{Transfer.mandatoryKey}" value="@dataMandatory" />
		<input type="hidden" id="@{Transfer.isQuadToQuadKey}" name="@{Transfer.isQuadToQuadKey}" value="@isQuadToQuad" />
		<input type="hidden" id="@{Transfer.isQuadToTubeKey}" name="@{Transfer.isQuadToTubeKey}" value="@isQuadToTube" />
		<input type="submit" value="Transfer" style="display:inline;">
	}
	@homeOption(Seq.empty)
}
