@**********************************************************************************
* Screen to update an existing tube                                               *
* @param tubeInput form used to gather values for rube                            *
* @param id tube id                                                               *
* @param hiddenFields hidden fields passed to form, e.g., project last set        *
**********************************************************************************@
@(tubeInput: Form[Tube], id: String, hiddenFields: Option[Component.HiddenFields])
@import models.Tube

@updateForm("Tube", tubeInput, routes.TubeController.updateTubeFromForm(id), id,
	Component.ComponentType.Tube, hiddenFields, Some(Tube.validContents), false,
	Seq(
		(routes.EZPassController.ezpass(
			tubeInput(Component.formKey + "." + Component.idKey).value.getOrElse("0")),
			"Create EZPASS"),
		(routes.Application.walkup(
			tubeInput(Component.formKey + "." + Component.idKey).value.getOrElse("0")),
			"Create Walk Up File")
	), List.empty){
	@play.twirl.api.HtmlFormat.empty
}
