@*********************************************************************************
* Screen to update an existing component                                         *
* @param tubeForm form used to gather values for tube - must already have id set *
*********************************************************************************@
@(tubeInput: Form[Tube], id: String, hiddenFields: Option[Component.HiddenFields])
@import helper._

@* Call main template to create html with form to update a tube *@
@mainComponent("Tube"){
	@componentIntro("Tube", tubeInput)
    @* Form with tube values - parameter to form method is "reverse-route" of action used to handle form submission *@
    @form(routes.TubeController.updateTubeFromForm(id), 'style -> "display:inline;") {
        @component(tubeInput, true, Component.ComponentType.Tube, hiddenFields)
        @inputText(tubeInput(Location.locationKey), '_label -> "Location")
        @inputText(tubeInput(Container.contentKey), '_label -> "Content")
	    @updateButtons()
    }
	@homeUpdateOption(tubeInput, Seq.empty)
}
