@***************************************************************
* Screen to create a new tube                                  *
* @param tubeForm form to use to gather values for tube        *
* @param id component id                                       *
***************************************************************@
@(tubeForm: Form[Tube], id: String)
@import models.Tube

@* Call main template to create html with form to create a tube *@
@createForm("Register Tube", tubeForm, routes.TubeController.createTubeFromForm(id), id,
	Component.ComponentType.Tube, Some(Tube.validContents), false){
	@play.twirl.api.HtmlFormat.empty
}